@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.query-wrapper {
  padding: 12px 0 12px 0;
  .query-item {
    margin-bottom: 8px;
    width: 560px;
    &:after,&:before {
      display: table;
      content: " ";
      clear: both;
      height: 0;
    }
    label {
      text-align: right;
      vertical-align: middle;
      float: left;
      font-size: 14px;
      color: #606266;
      padding: 0 12px 0 0;
      box-sizing: border-box;
      line-height: 28px;
      width: 100px;
    }
    .el-input {
      width: 300px;
      .el-input__inner {
        height: 28px;
        line-height: 28px;
      }
      .el-input__icon {
        line-height: 28px;
      }
    }
    .el-input-number {
      width: 180px;
      line-height: 28px;
      .el-input-number__decrease, .el-input-number__increase {
        line-height: 14px;
      }
      .el-input {
        width: 180px;
      }
    }
    .el-range-editor {
      height: 28px;
      line-height: 28px;
      padding: 0 10px 0 10px;
    }
  }
  .query-btn {
    width: 560px;
    .el-button {
      display: block;
      margin: 0 auto;
    }
  }
}
